1_creating_triplets/CRC_dataset/1_code_triplet_CRC/.idea/
1_creating_triplets/CRC_dataset/1_code_triplet_CRC/__pycache__/
1_creating_triplets/CRC_dataset/1_code_triplet_CRC/venv/
1_creating_triplets/CRC_dataset/1_code_triplet_CRC/.vscode/

1_creating_triplets/CRC_dataset/2_code_notTriplet_CRC/.idea/
1_creating_triplets/CRC_dataset/2_code_notTriplet_CRC/__pycache__/
1_creating_triplets/CRC_dataset/2_code_notTriplet_CRC/venv/
1_creating_triplets/CRC_dataset/2_code_notTriplet_CRC/.vscode/

1_creating_triplets/TCGA_dataset/1_TripletAddressTiles/.idea/
1_creating_triplets/TCGA_dataset/1_TripletAddressTiles/__pycache__/
1_creating_triplets/TCGA_dataset/1_TripletAddressTiles/venv/
1_creating_triplets/TCGA_dataset/1_TripletAddressTiles/.vscode/

1_creating_triplets/TCGA_dataset/2_TfRecordGeneration (old)/.idea/
1_creating_triplets/TCGA_dataset/2_TfRecordGeneration (old)/__pycache__/
1_creating_triplets/TCGA_dataset/2_TfRecordGeneration (old)/venv/
1_creating_triplets/TCGA_dataset/2_TfRecordGeneration (old)/.vscode/

1_creating_triplets/TCGA_dataset/3_CreateTriplets_npy/.idea/
1_creating_triplets/TCGA_dataset/3_CreateTriplets_npy/__pycache__/
1_creating_triplets/TCGA_dataset/3_CreateTriplets_npy/venv/
1_creating_triplets/TCGA_dataset/3_CreateTriplets_npy/.vscode/

1_creating_triplets/TCGA_dataset/3_CreateTriplets_tfrecords/.idea/
1_creating_triplets/TCGA_dataset/3_CreateTriplets_tfrecords/__pycache__/
1_creating_triplets/TCGA_dataset/3_CreateTriplets_tfrecords/venv/
1_creating_triplets/TCGA_dataset/3_CreateTriplets_tfrecords/.vscode/

1_creating_triplets/TCGA_dataset/4_code_triplet_TCGA_from_already_csv (create trplet from 20x images)/.idea/
1_creating_triplets/TCGA_dataset/4_code_triplet_TCGA_from_already_csv (create trplet from 20x images)/__pycache__/
1_creating_triplets/TCGA_dataset/4_code_triplet_TCGA_from_already_csv (create trplet from 20x images)/venv/
1_creating_triplets/TCGA_dataset/4_code_triplet_TCGA_from_already_csv (create trplet from 20x images)/.vscode/

1_creating_triplets/TCGA_dataset/4_TripletsFromWSI (create trplet from 20x images)/.vscode/

1_creating_triplets/TCGA_dataset/5_code_triplet_TCGA_from_scratch (not complete)/.idea/
1_creating_triplets/TCGA_dataset/5_code_triplet_TCGA_from_scratch (not complete)/__pycache__/
1_creating_triplets/TCGA_dataset/5_code_triplet_TCGA_from_scratch (not complete)/venv/
1_creating_triplets/TCGA_dataset/5_code_triplet_TCGA_from_scratch (not complete)/.vscode/

2_Siamese_TCGA_Source_CRC_Target/.idea/
2_Siamese_TCGA_Source_CRC_Target/__pycache__/
2_Siamese_TCGA_Source_CRC_Target/venv/
2_Siamese_TCGA_Source_CRC_Target/.vscode/

3_Siamese_CRC_Source_CRC_Target/.idea/
3_Siamese_CRC_Source_CRC_Target/__pycache__/
3_Siamese_CRC_Source_CRC_Target/venv/
3_Siamese_CRC_Source_CRC_Target/.vscode/

4_Supervised_Crossentropy_ResNet_CRC/.idea/
4_Supervised_Crossentropy_ResNet_CRC/__pycache__/
4_Supervised_Crossentropy_ResNet_CRC/venv/
4_Supervised_Crossentropy_ResNet_CRC/.vscode/



